<?xml version="1.0"?>

<launch>
    <!-- Move Base Flex -->
    <node name="move_base_flex" pkg="mbf_costmap_nav" type="mbf_costmap_nav" output="screen" clear_params="true">
        <rosparam file="$(find path_tracking_pid)/param/controllers.yaml" command="load" />
        <rosparam file="$(find path_tracking_pid)/test/local_costmap_params.yaml" command="load" />
    </node>

</launch>
